<div class="background">
  <div class="container">
    <h1 class="title">Minhas Finanças</h1>
    <hr class="line">
    <button class="button" routerLink="/login">Crie sua Conta</button>
    <p class="text">Você está pronto para assumir o controle total das suas finanças? Se sim, você está no lugar certo! Nosso site de finanças oferece uma plataforma completa e intuitiva para ajudá-lo a gerenciar suas finanças pessoais de forma eficaz e eficiente.
Com nossa plataforma, você terá acesso a uma variedade de ferramentas e recursos projetados para simplificar o processo de gerenciamento financeiro. Desde o acompanhamento de despesas e receitas até o planejamento de orçamentos e o controle de faturas de cartões de crédito, estamos aqui para ajudá-lo em todas as etapas do caminho.
Ao se cadastrar em nossa plataforma, você terá acesso a uma visão abrangente de sua situação financeira, permitindo que você tome decisões informadas e estratégicas sobre suas finanças. Você poderá visualizar seus gastos mensais em um gráfico intuitivo, acompanhar o saldo atual e previsto de suas contas bancárias e planejar seus gastos futuros com base em seus orçamentos definidos.
Além disso, nossa plataforma é fácil de usar e está disponível em qualquer dispositivo, permitindo que você gerencie suas finanças de onde quer que esteja. Seja em casa, no trabalho ou em movimento, você terá acesso às suas informações financeiras sempre que precisar.
Então, o que você está esperando? Junte-se a nós hoje mesmo e comece sua jornada rumo a uma vida financeira mais saudável e próspera. Crie sua conta agora e descubra como nosso site de finanças pode ajudá-lo a alcançar seus objetivos financeiros! Estamos ansiosos para tê-lo conosco.</p>
  </div>
</div>
